.temperature {
    width: 52%;
    margin: auto;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    display: flex;
    height: 40px;
    padding: 3%;
    border: 1px solid darkslategrey;
    border-radius: 5px;

}

.min{
    font-size: 40px;
    margin-left:22%;
}
.max{
    margin-left: 110px;
    font-size: 40px;
}